body{
    background: #24353f;
    font-family: "Titillium Web", sans-serif;
}
h1{
    color: #17a2b8;
    font-weight: 500;
    font-size: 40px;
}
p a{
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
input{
    background-color: transparent !important;
    color: white !important; 
}
input::placeholder{
    color: #B6B69B !important;
}
input:focus {
    box-shadow: 0 0 0 0 transparent !important;
    
}
#home{
    height: 75vh;
}